.main-content {
  padding: 20px;
  flex: 1;
}
h2{
  display: inline;
    padding-bottom: 0;
    margin-bottom: 0;
  

}

.member-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

input {
  margin-left: 50px;
 margin-top: 0;
  padding: 5px 10px;
  font-size: 16px;
}


@media (max-width: 1024px) {
  .member-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .member-grid {
    grid-template-columns: 1fr;
  }
}
